{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Referensi</title>
</head>

<style>
    body {
        background-color: beige;
    }
    .float-kiri {
        float: left;
    }
    </style>

<body>

    <h2 style="background-color: darkseagreen ;"><font size="4"></font>VIDEO PEMBELAJARAN MATERI BARISAN DAN DERET</h2>
    <iframe width="560" height="315" src="https://youtu.be/YygwSmhzKQs" title="YouTube video Player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

     <h2 style="background-color: darkseagreen ;"><font size="4"></font>VIDEO PEMBELAJARAN MATERI EKSPONEN</h2>
    <iframe width="560" height="315" src="https://youtu.be/uH9h0b6NKF4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

     <h2 style="background-color: darkseagreen ;"><font size="4"></font>VIDEO PEMBELAJARAN MATERI PELUANG</h2>
    <iframe width="560" height="315" src="https://youtu.be/NtykJrgmzCo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

     <h2 style="background-color: darkseagreen ;"><font size="4"></font>VIDEO PEMBELAJARAN MATERI STATISTIKA</h2>
    <iframe width="560" height="315" src="https://youtu.be/P88cTOZEukE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</body>
</html>

{% endblock %}